# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.lock

# Build output
target/
out/

# IDE files
.idea/
*.iml
*.iws
.vscode/

# OS files
.DS_Store
Thumbs.db

# Application secrets
application-local.properties

# Logs
logs/
*.log